body {
    background-color: black; 
    color: white;
    font-family: Medieval, Arial, Helvetica, sans-serif;
}
img#logo {
    width: 500px;
}
.t-50 {
    width: 20%;
}
header {
    display:flex;
}
nav {
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}
a { 
    font-family: Josefin;
    color: white; 
    text-decoration: none;
    margin-left: 10px;
}
@font-face {
    font-family: Medieval;
    src: url("../Fonts/MedievalSharp-Regular.ttf")
}
@font-face {
    font-family: Josefin;
    src: url("../Fonts/JosefinSans-VariableFont_wght.ttf")
}
article {
    text-align: center;
    margin: 32px auto;
    width: 80%;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}
footer {
    text-align: center;
}